* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Inter";
}
/* COMMON - THÀNH PHẦN DÙNG CHUNG */
.content {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}
:root {
    --mth-color-primary: #0f1b4c;
    --mth-color-secondary: #0689ff;
    --mth-text-color-primary: #1c1c1d;
    --mth-text-color-secondary: #7a7a7e;
}

/* HEADER */
.header {
    background: #e6f0ff;
    height: 100vh;
}

.navbar,
.navbar ul {
    display: flex;
    align-items: center;
}
.navbar {
    padding-top: 47px;
}
.navbar ul {
    margin-left: 64px;
}
.navbar ul li {
    margin-right: 30px;
}
.navbar ul li a {
    color: #4f5361;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.1rem;
    text-decoration: none;
}
.actions {
    margin-left: auto;
}
.btn_action {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2.1rem;
    border: none;
    background-color: transparent;
    margin-left: 18px;
    padding: 10px 22px;
    border-radius: 8px;
}
.btn_sign-out {
    color: var(--mth-color-primary);
}